*{
  font-family: 'Roboto', sans-serif;
}
.yellow{
  background-color: #fbd43b!important;
}
.green-text{
  color: #00c3a3!important;
}
.text-neg{
  font-weight: 700;
  font-size: 18px;
}
.text-small{
  font-size: 12px;
  font-weight: 300;
}
.label-img{
  margin-top: 10px;
}
.mt-15{
  margin-top: 15%;
}
.mt-menos15{
  margin-top: -15%;
}
.pd-25{
  padding-top: 40%;
}
.relative{
  position: relative;
}
.fl-right{
  float: right;
}

/*carrusel*/
.container{
  padding: 15px;
  margin-top: 20%;
}
.carousel.carousel-slider{
  height: 360px !important;
}
.carousel .carousel-item > img{
  width: 60%;
}
.carousel.carousel-slider .carousel-item p{
  font-size: 14px;
  font-weight: 300;
}
/*carousle - indicadore*/
.carousel .indicators .indicator-item.active{
  background-color: #f64552;
}
.carousel .indicators .indicator-item{
  background-color:  #dddddd;
}
/*boton*/
.btn{
  width: 100%;
  margin-top: 10%;
}
.btn,.btn:hover{
  box-shadow: none;
}
/*segunda parte*/
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex > img{
  width: 40%;
}
.label-img >img{
  width: 18%;
  position: absolute;
}
form >label{
  font-weight: 300;
}
input[type=number]:focus:not([readonly]), input[type=number],
input[type=text],input[type=text]:focus:not([readonly]),
input[type=email],input[type=email]:focus:not([readonly]),
input[type=password],input[type=text]:focus:not([readonly]){
  text-align: center;
}
input[type=number]:focus:not([readonly]),input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),input[type=password]:focus:not([readonly]){
  border-bottom:1.5px solid #fbd43b;
  box-shadow: none;
}
.flex .btn{
  width: 50%;
  margin-top: 18%;
}
/*tercera */
.candado > img{
  width: 6%;
}
/*cuarto*/
.cuarto{
  width: 70%!important;
}
/*quinto*/
.img-datos>img{
  width: 8%;
  position: absolute;
  display: block;
}
.small{
  width: 6%!important;
}
/*sexto*/
.bg{
  height: 640px;
}
.bg{
  font-weight: 700;
  font-size: 18px;
}
/*Septimo*/
.help{
  margin-top: -25%;
  width: 14%;
}
/*credit Card*/
.scan > img{
  width: 6%;
}
